<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Item Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="{{url_for('.index')}}" class="navbar-brand">Item Catalog</a>
        </div>
        {% if username %}
        <div class="navbar-text navbar-right">
          <span>Welcome, {{username}}(<a href="{{url_for('.gdisconnect')}}">logout</a>)</span>
        </div>
        {% else %}
        <div class="navbar-text navbar-right">
          <span><a href="{{url_for('.login')}}">Login</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
